<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css" >
        <title>MangaList</title>
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" th:href="@{/}">
                <img src="https://img.icons8.com/dusk/64/000000/book-shelf.png" width="30" height="30" class="d-inline-block align-top" alt="">
                MangaList
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/autor/listado}">Autores </a>
                </li>
            </ul>
                <form th:action="@{/buscar}" class="form-inline">
                    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
        </nav>

        <div class="container mangas-destacados mt-4">
            <div class="row ">
                <div class="col col-md-12 text-right">
                    <a th:href="@{/manga/alta}" class="btn btn-outline-info"> Subir Manga </a>
                </div>

            </div>
            <div class="row mt-4">
                <div th:each="manga : ${mangas}" class="col-md-3 mb-4">

                    <div class="card">
                        <img th:src="${manga.imagenUrl}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 th:text="${manga.nombre}" class="card-title"></h5>

                            <p><a th:href="@{autor(autorId=${manga.autor.id})}" class="badge badge-info" th:text="${manga.autor.nombre}"></a></p>
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" th:attr="data-target='#modal'+ ${manga.id}">
                                Ver más
                            </button>
                            <a th:href="@{/manga/editar(mangaId=${manga.id})}" class="btn btn-sm btn-warning" >Editar</a>
                            <a th:href="@{/manga/eliminar(mangaId=${manga.id})}" class="btn btn-sm btn-danger">Eliminar</a>
                            <div class="modal fade" th:id="'modal' + ${manga.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" th:text="${manga.nombre}"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p th:text="${manga.descripcion}"></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>     
        </div>





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    </body>
</html>