<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css" >
        <title>MangaList</title>
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" th:href="@{/}">
                <img src="https://img.icons8.com/dusk/64/000000/book-shelf.png" width="30" height="30" class="d-inline-block align-top" alt="">
                MangaList
            </a>
            <form th:action="@{/buscar}" class="form-inline">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>
        <div class="container  mangas-destacados">

            <div class="row mt-4">
                <div class="col col-md-12">
                    <form method="POST" th:action="@{/manga/guardar}" th:object="${manga}">
                        <input type="hidden" th:field="*{id}" id="id" name="id">
                        <div class="form-group row">
                            <label for="nombre" class="col-4 col-form-label">Nombre</label> 
                            <div class="col-12">
                                <input id="nombre" name="nombre" th:field="*{nombre}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectautores">Autor</label>
                            <select class="form-control" id="selectautores" th:field="*{autor.id}">
                                <option th:each="autor: ${autores}" th:text="${autor.nombre}"  th:value="${autor.id}"></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descripcion" class="col-4 col-form-label">Descripcion</label> 
                            <div class="col-12">
                                <textarea class="form-control" th:field="*{descripcion}" id="descripcion" name="descripcion" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="imagen_url" class="col-4 col-form-label">Imagen URL</label> 
                            <div class="col-12">
                                <input id="imagen_url" th:field="*{imagenUrl}" name="imagen_url" type="text" class="form-control">
                            </div>
                        </div> 

                        <button name="submit" type="submit" class="btn btn-primary">Subir Manga</button>

                    </form>
                </div>
            </div>     


        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    </body>
</html>